.counter{
    display: flex;
    gap:30px;
    justify-content: center;
}
.counter button{
    padding: 15px 15px;
    background-color:black;
    color: white;
    border: none;
    font-weight: bold;
}
.counter button:hover{
    background-color: blanchedalmond;
    color:black;
}